extends layout

block content
  #background
  #container
    #tagline 
      | The best way to decide who goes first!
    #display 
      h1#title Who Goes First?
      h2#gofirst
      i#refresh.icss-synchronize(onclick="chooseFirst()")
  #suggestionBox
      button#showSuggestion(onclick="toggleSuggestion()") Make a Suggestion
      span#colon.hidden :&nbsp;
      input(type="text")#suggestionText.hidden
      button#submitSuggestion.hidden(onclick="submitSuggestion()") Submit
  
