extends layout

block content
  #background
  #container
    #tagline 
      | The best way to decide who goes first!
    #display 
      h1#title Who Goes First?
      h2#gofirst
      i#refresh.icss-synchronize(onclick="chooseFirst()")
  #suggestionBox
      button#showSuggestion(onclick="toggleSuggestion()") Make a Suggestion
      #suggestionField.hidden
        textarea#suggestionText.hidden(placeholder="Make a suggestion..." rows=4)
        button#submitSuggestion.hidden(onclick="submitSuggestion()") Submit
        button#cancelSuggestion.hidden(onclick="cancelSuggestion()") Cancel
  
