body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #190b28;
  color: white;
  text-align: center;
}

body.best {
  background-color: #258ea6;
}

a {
  color: #00b7ff;
}

#background {
  transform: rotate(21deg) translateX(-15%) translateY(100%);
  background-color: #685762;
  width: 131vw;
  position: fixed;
  height: 74vh;
  z-index: -1;
}

body.best #background {
  background-color: #549f93;
}

#tagline {
  position: absolute;
  top: 5vw;
  left: 50vw;
  transform: translateX(-50%);
}

#display {
  position: absolute;
  top: 15vh;
  left: 50vw;
  transform: translateX(-50%);
}

#switch {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  font-weight: bold;
}
