body {
  margin: 0px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #190b28;
  color: white;
  text-align: center;
}

body.best {
  background-color: #258ea6;
}

a {
  color: #00b7ff;
}

.hidden {
  display: none;
}

#background {
  transform: rotate(16deg);
  background-color: #685762;
  width: 231vw;
  position: fixed;
  height: 74vh;
  z-index: -1;
  top: 75vh;
  left: -30vw;
}

body.best #background {
  background-color: #549f93;
}

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 3em 10% 50% 1fr 4em 2%;
  width: 96vw;
  height: 96vh;
  padding: 2vh 0px 0px 2vw;
}

#tagline {
  font-size: 175%;
  grid-area: 2 / 1 / 3 / 2;
  align-self: center;
}

#switch {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  font-weight: bold;
}

#display {
  grid-area: 4/1/5/2;
}

#title {
  font-size: 160%;
}

#gofirst {
  font-size: 350%;
}

#refresh {
  font-size: 3rem;
  cursor: pointer;
}

#suggestionContainer {
  grid-area: 6/1/7/2;
  justify-self: start;
  align-self: center;
}

#suggestionBox {
  position: absolute;
  bottom: 3vh;
  left: 2vw;
  max-width: 96vw;
  height: 2.5rem;
  border-radius: 8px;
  border: 2px solid white;
  display: flex;
  padding: 5px;
}

#suggestFlex {
  display: flex;
}

#showSuggestion {
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-right: 0px;
}

#showSuggestion,
#colon {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

#submitSuggestion {
  background: none;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
i[class*="icss-"] {
  position: relative;
  display: inline-block;
  font-style: normal;
  background-color: currentColor;
  box-sizing: border-box;
  vertical-align: middle;
}
i[class*="icss-"]:before,
i[class*="icss-"]:after {
  content: "";
  border-width: 0;
  position: absolute;
  box-sizing: border-box;
}
i.icss-synchronize {
  width: 0.2em;
  height: 0.35em;
  border-style: solid;
  border-color: transparent currentColor transparent transparent;
  border-width: 0.175em 0.25em 0.175em 0;
  background-color: transparent;
  margin: 0 0.5em 0.65em 0.3em;
}
i.icss-synchronize:before {
  width: 0.2em;
  height: 0.35em;
  border-style: solid;
  border-color: transparent transparent transparent currentColor;
  border-width: 0.175em 0.25em 0.175em;
  top: 0.475em;
  left: 0.25em;
}
i.icss-synchronize:after {
  width: 0.75em;
  height: 0.75em;
  border: 0.1em solid currentColor;
  border-color: currentColor transparent;
  border-radius: 50%;
  background-color: transparent;
  transform: rotate(45deg);
  left: -0.125em;
  top: -0.05em;
}
